body {
    font-family: 'Poppins', sans-serif;
    background: rgb(107,186,222);
    background: -moz-linear-gradient(90deg, rgba(107,186,222,1) 0%, rgba(232,156,205,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(107,186,222,1) 0%, rgba(232,156,205,1) 100%);
    background: linear-gradient(90deg, rgba(107,186,222,1) 0%, rgba(232,156,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6bbade",endColorstr="#e89ccd",GradientType=1); 
}

h1, h2, h3, p, label {
    color: rgb(49, 49, 49);
    margin-top: 40px;
}

h1{
    font-size: 32px;
    text-align: center;
}

p{
    text-align: center;
}

#newtodobutton{

    background-color: rgb(12, 187, 50);
    color: white;
    width: 70px;
    height: 35px;
}

#clearbutton{

    background-color: rgb(187, 12, 12);
    color: white;
    width: 125px;
    height: 35px;
}

#newtodo{
    width: 275px;
    height: 30px;
}

.container{
    background-color: white; 
    list-style-type: none;
    padding: 10px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
